<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" bootstrap="vendor/autoload.php" colors="true">
  <coverage processUncoveredFiles="true">
    <include>
      <directory>src/</directory>
    </include>
    <report>
      <clover outputFile="reports/machine/coverage/coverage.xml"/>
      <html outputDirectory="reports/human/coverage/html"/>
      <text outputFile="php://stdout"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="Unit">
      <directory>src-dev/Tests/Unit</directory>
    </testsuite>
  </testsuites>
  <logging>
    <testdoxHtml outputFile="reports/human/unit/junit.html"/>
    <junit outputFile="reports/machine/unit/junit.xml"/>
  </logging>
</phpunit>
